@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
       url("../fonts/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"),
       url("../fonts/OpenSans-Bold.woff") format("woff"),
       url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #000;
  font: 400 15px / 1.2 "Open Sans", sans-serif;
  letter-spacing: 0.75px;
}

h2 {
  margin: 0 0 20px;
  color: #e7e7e7;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  color: #c1c1c1;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.15px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding: 33px 0 84px;
  color: #fff;
  text-align: center;
  background: url("../images/bg-header.jpg") center top no-repeat;
  background-size: cover;
}

.header .logo {
  margin: 0 auto 127px;
  display: block;
}

.header h1 {
  margin: 0 0 84px;
  font-size: 28px;
  letter-spacing: 1.4px;
  text-align: left;
  text-transform: uppercase;
}

.header h1 span {
  margin-top: 18px;
  padding-left: 44px;
  display: block;
}

.logo {
  width: 133px;
}

.logo-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 72px;
  height: 74px;
  background: linear-gradient(to bottom, rgba(120,81,218,1) 0%, rgba(81,51,156,1) 100%);
  border-radius: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons .button {
  margin-bottom: 14px;
}

.buttons .button:last-child {
  margin-bottom: 0;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 30px 7px 80px;
  width: 100%;
  color: #fff;
  font-size: 8px;
  line-height: 1.1;
  letter-spacing: 0.4px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #5e42b0;
  vertical-align: middle;
  border-radius: 18px;
}

.button img {
  margin-right: 8px;
  width: 22px;
}

.button .caption {
  display: block;
}

.button .title {
  margin-top: 2px;
  display: block;
  font-weight: 700;
}

.button-google img {
  margin-left: -22px;
}


.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.15;
}

.download p {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.download p small {
  margin-top: 5px;
  display: block;
  color: #9b8ec1;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

.download .logo-icon {
  margin-bottom: 51px;
}

.players {
  padding: 14px 0 0;
}

.players h2 {
  margin-bottom: 6px;
}

.players-content {
  display: flex;
  flex-direction: column;
}

.players-photo {
  position: relative;
  z-index: 2;
  margin-bottom: -57px;
  text-align: center;
}

.players-list {
  margin: 0;
  padding-left: 0;
  width: 100%;
  list-style: none;
}

.players-list li {
  margin-left: -20px;
  margin-right: -20px;
  padding: 50px 20px 56px;
}

.players-list li:nth-child(1) {
  padding-top: 80px;
  background-color: #fafafa;
}

.players-list li:nth-child(2) {
  background-color: #f5f4f9;
}

.players-list li:nth-child(3) {
  color: #fff;
  background-color: #5e42b0;
}

.players-list li:nth-child(3) h3 span::after {
  background-color: #fff;
}

.players-list-basketball li:nth-child(3) {
  background-color: #090c35;
}

.players-list-basketball li:nth-child(3) h3 span {
  color: #8765dd;
}

.players-list li h3 {
  position: relative;
  margin: 0 0 20px;
  padding-left: 25px;
}

.players-list li h3 span {
  position: absolute;
  top: 3px;
  left: 0;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.players-list li h3 span::after{
  content: '';
  margin-top: 2px;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.players-list li p {
  margin: 0;
}


.steps-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.steps-list li {
  display: flex;
  flex-direction: column;
}

.step-photo {
  position: relative;
}

.step-photo img {
  width: 100%;
}

.step-content {
  padding: 30px 20px 70px;
}

.step-content h3 {
  margin: 0 0 15px;
  color: #e7e7e7;
  font-size: 28px;
}

.step-content p {
  margin: 0;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  bottom: -12px;
  width: 70px;
  height: 70px;
  color: #fff;
  font-weight: 700;
  background-color: #5e42b0;
}

.step-number span::after{
  content: '';
  margin-top: 2px;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}


.footer {
  padding: 99px 0 10px;
  color: #fff;
  text-align: center;
  background: url("../images/bg-footer.jpg") center top no-repeat;
  background-size: cover;
}

.footer .download {
  margin-bottom: 73px;
}

.footer .logo {
  margin-top: 79px;
}


@media (min-width: 641px) {
  body {
    font-size: 16px;
    line-height: 1.75;
  }

  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 32px;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo {
    width: 205px;
  }

  .logo-icon {
    padding: 20px;
    width: 130px;
    height: 137px;
    border-radius: 30px;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
  }

  .buttons .button {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .buttons .button:last-child {
    margin-right: 0;
  }

  .button {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 40px;
    width: auto;
    min-width: 311px;
    font-size: 14px;
    box-shadow: 8px 14px 24px #0a0e34;
    border-radius: 50px;
  }

  .button img {
    margin-right: 27px;
    width: 36px;
  }

  .button-google img {
    width: 41px;
  }

  .download p {
    font-size: 80px;
  }

  .download p small {
    font-size: 36px;
  }

  .header {
    padding-top: 40px;
    padding-bottom: 91px;
    background-image: url("../images/bg-header-tablet.jpg");
  }

  .header h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 310px;
    max-width: 600px;
    font-size: 64px;
  }

  .header h1 span {
    margin-top: 0;
    padding-left: 105px;
  }

  .players-content {
    flex-direction: row;
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .players-photo {
    position: absolute;
    top: -150px;
  }

  .players-list li {
    margin-left: -30px;
    margin-right: -30px;
    padding: 35px 30px;
  }

  .players {
    padding-top: 70px;
  }

  .players h2 {
    margin-bottom: 40px;
  }

  .players-football h2 {
    padding-left: 260px;
  }

  .players-football .players-photo {
    left: -160px;
  }

  .players-football .players-list li {
    padding-left: 290px;
  }

  .players-basketball .players-photo {
    right: 0;
  }

  .players-basketball .players-list li {
    padding-right: 300px;
  }

  .players-list li:nth-child(1) {
    padding-top: 0;
    background-color: #fff;
  }

  .players-list li h3 {
    padding-left: 30px;
  }

  .players-list li h3 span {
    top: 5px;
    font-size: 18px;
  }

  .step-number {
    left: 30px;
    bottom: -26px;
    width: 116px;
    height: 116px;
    font-size: 24px;
    line-height: 1.2;
  }

  .step-content {
    padding: 80px 30px 100px;
  }

  .step-content h3 {
    font-size: 80px;
  }

  .step-content p {
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 1.2px;
  }

  .footer {
    padding-top: 126px;
    padding-bottom: 24px;
    background-image: url("../images/bg-footer-tablet.jpg");
  }

  .footer .download {
    margin-bottom: 280px;
  }

  .footer .logo {
    margin-top: 55px;
  }
}

@media (min-width: 961px) {
  body {
    font-size: 20px;
  }

  .header {
    background-image: url("../images/bg-header-desktop.jpg");
  }

  .header .logo {
    margin-bottom: 290px;
    width: 191px;
  }

  .header h1 {
    margin-bottom: 220px;
    display: inline-block;
    max-width: 100%;
  }

  .download {
    display: inline-flex;
    flex-direction: row;
  }

  .download .logo-icon {
    margin-bottom: 0;
    margin-right: 35px;
  }

  .players h2 {
    margin-bottom: 70px;
  }

  .players-football .players-photo {
    left: 0;
  }

  .players-football h2 {
    padding-left: 50%;
    margin-left: -30px;
  }

  .players-football .players-list li {
    padding-left: 50%;
  }

  .players-basketball .players-list li {
    padding-right: 50%;
  }

  .players-basketball .players-photo {
    max-width: 65%;
  }

  .steps-list li {
    flex-direction: row;
  }

  .steps-list li:nth-child(even) .step-photo {
    order: 2;
  }

  .steps-list li:nth-child(even) .step-photo .step-number {
    left: 0;
  }

  .step-photo,
  .step-content {
    flex: 1 1 50%;
    max-width: 50%;
  }

  .step-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
  }

  .step-number {
    top: 35%;
    bottom: auto;
    left: 100%;
    transform: translate(-50%, 0);
  }

  .footer {
    background-image: url("../images/bg-footer-desktop.jpg");
  }

  .footer .download {
    margin-bottom: 150px;
  }

  .footer .logo {
    margin-top: 260px;
  }
}


@media (min-width: 1200px) {
  .header h1 {
    font-size: 90px;
  }

  .step-content {
    padding-left: 130px;
    padding-right: 130px;
  }

  .players {
    padding-top: 120px;
  }

  .players-basketball h2 {
    padding-left: 170px;
  }

  .players-basketball .players-list li {
    padding-left: 200px;
  }

  .players-basketball .players-photo {
    right: 0;
  }

  .players-football .players-photo {
    left: 10%;
  }

  .players-football .players-list li {
    padding-right: 200px;
  }

  .players-photo {
    top: -270px;
  }

  .players-list li {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}